div(ng-controllers="ContactCtrl")
    .container
      .col_12( class="find-content header-bo-color  animated slideInLeft" ng-class="{slideOutLeft:isClose}" )
         div(class="animated " )
            .title
              md-content(style="position: absolute;right: 0;")
                md-button(class="md-icon-button" ng-click="back()") 
                    i(class="fa fa-arrow-left" aria-hidden="true")   
              div(ng-hide="isMobile")
                span By :
                  md-radio-group(ng-model="by" layout="row")
                    md-radio-button(ng-repeat="item in itemSearch"  style="display:initial;margin-left:10px"  ng-value="item.key" class="md-primary") {{item.value}}
              md-content(ng-show="isMobile")
                md-select(ng-model="by") 
                 md-option(ng-repeat="item in itemSearch" ng-value="item.key" )  {{item.value}}

              input(type="search" ng-keydown="keyUp($event)" ng-model="search"  placeholder="Search" class="search-input")